@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1> BugSnag Test Web APP </h1>
    <p class="lead">
        Testing bugsnag using javascript errors.
    </p>
    <input id="demo" type="text">
    <button type="button" onclick="myFunction()">Test Input</button>
    <p id="message"></p>
</div>
<script>
    function myFunction() {
        var message, x;
        message = document.getElementById("message");
        message.innerHTML = "";
        x = document.getElementById("demo").value;
        try {
            if (x == "") throw "empty";
            if (isNaN(x)) throw "not a number";
            x = Number(x);
            if (x < 5) throw "too low";
            if (x > 100) throw "more than 100";
            if (x > 10) throw "too high";
            if (x === 8) throw "new Check 8 error";
        } catch (err) {
            message.innerHTML = "Input is " + err;

            if ((err === "too low") || (err === "too high")) {
                Honeybadger.notify(err , "MathError");
            } else if (err === "not a number") {
                Honeybadger.notify(err, "LanguageError");
            } else {
                Honeybadger.notify(err, "RandomError");
            }
        }
    }
</script>

<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>
-->